// **** CONTACT **** //
// ================= //

.contact{
    background-image: url(../../images/background/Background_contact.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}
.yellow_line_contact{
    width: 25px;
    height: 330px;
    background: var(--yellow);
}
.container_contact{
    display: flex;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    .form_contact{
        padding: 30px;
        background: var(--black);
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        h2{
            margin: 20px auto;
        }
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            input{
                padding-bottom: 4px;
                margin: 30px;
                background: var(--black);
                color: var(--white);
                border: none;
                border-bottom: 1px solid var(--yellow);
                outline: none;
            }
            input:nth-child(5){
                grid-column: 1 / 3;
            }
        }
        button{
            margin: 30px;
        }
    }
}