// **** VARIABLES **** //
// =================== //

:root{
    --yellow: #F1F53B;
    // --yellowDark: #181801;
    --black: #111101;
    --white: #fff;
    --abril: 'Abril Fatface', cursive;
    --source: 'Source Sans Pro', sans-serif;
    --transition: 0.3s;
}