// **** TXT **** //
// ============= //

h1{
    font-family: var(--abril);
    font-size: clamp(30px, 5vw, 80px);
    color: var(--white);
}
h2{
    font-family: var(--abril);
    font-size: calc(20px + 2vw);
    color: var(--white);
}
h3{
    font-family: var(--abril);
    font-size: 2em;
    color: var(--white);
}
p{
    font-family: var(--source);
    font-size: 1.6em;
    color: var(--white);
}
.legend{
    font-family: var(--source);
    font-size: clamp(1.6em, 2vw, 3em);
    color: var(--white);
}